.container {
	padding: 64px 20px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	border-bottom: 0.5px solid rgba(153, 153, 153, 0.5);
}
.header__inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 20px;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 24px;
}

.top_header {
	padding: 18px 0;
	/* border-bottom: solid 1px #dedede; */
}

/*  */
.top_figure {
	display: flex;
	align-items: center;
	gap: 32px;
	margin-bottom: 36px;
}
.top_figure picture {
	display: block;
	width: 100px;
	height: 100px;
}
.top_figure img {
	border-radius: 20px;
	max-width: 100%;
}
.top_figure_heading {
	font-size: 28px;
	font-weight: bold;
}
.top_figure a {
	color: #999;
	text-decoration: underline;
}
.top_figure a:hover {
	text-decoration: none;
}
/*  */

.heading {
	margin-bottom: 24px;
	padding: 4px 8px;
	border-bottom: 2px solid #999;
	font-size: 18px;
	color: #999;
	letter-spacing: 0.5px;
}

.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post {
	margin-bottom: 40px;
}
.post a {
	color: inherit;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	transition: 0.4s;
}
.post a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.postTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}
.postRead {
	color: #999;
	padding-left: 14px;
}

.postDescription {
	margin-top: 0;
	margin-bottom: 12px;
	opacity: 0.65;
}

.footer {
	font-size: 14px;
	text-align: center;
	padding: 20px 20px;
	color: #fff;
	background-color: #202225;
	border-top: 0.5px solid rgba(153, 153, 153, 0.5);
}
