.container {
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;
	line-height: 1.5;
}

.container h1 {
	font-size: 32px;
}

.container img {
	width: 100%;
	height: auto;
}

.container figure {
	margin-left: 0;
	margin-right: 0;
}

.container figcaption {
	opacity: 0.6;
}

.name {
	font-size: 36px;
}

.back {
	display: inline-block;
	margin-bottom: 20px;
}

.bold {
	font-weight: bold;
}

.code {
	font-family: monospace;
	background-color: rgb(242, 242, 242);
	padding: 2px 4px;
	border-radius: 2px;
}

.italic {
	font-style: italic;
}

.pre {
	background-color: rgb(242, 242, 242);
	padding: 2px 4px;
	margin: 20px 0;
	line-height: 2.3;
	border-radius: 12px;
	overflow: auto;
}

.callout_block {
	padding: 20px;
	background-color: #999;
	border-radius: 2px;
}

.code_block {
	padding: 20px;
	font-family: monospace;
	display: flex;
	flex-wrap: wrap;
}

.file {
	padding: 2px 4px;
	text-decoration: none;
}

.file a {
	color: inherit;
}

.file:hover {
	background: rgba(55, 53, 47, 0.08);
	cursor: pointer;
	border-radius: 2px;
}

.italic {
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.bookmark {
	display: block;
	margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
	.code {
		background-color: rgb(15, 8, 28);
	}
	.file:hover {
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
		border-radius: 2px;
	}
	.pre {
		background-color: rgb(15, 8, 28);
	}
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	border-bottom: 0.5px solid rgba(153, 153, 153, 0.5);
}
.header__inner {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px 20px;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 24px;
}
.footer {
	text-align: center;
	padding: 24px;
	color: #efefef;
	background-color: #222;
}
